<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Головна</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div th:replace="menu-header.html :: top-menu"/>
    <div class="w3-container w3-margin">
        <div class="w3-card">

            <div class="w3-container w3-green">
                <h3>Приветствую на главной странице сайтa!</h3>
            </div>

            <div class="w3-container">
                <div class="w3-container w3-margin-top">
                    <a href="/employees/employee" class="w3-button w3-blue">Мои данные</a>
                </div>
                <div class="w3-container w3-margin-top w3-margin-bottom">
                    <a href="/employees/eventssheet" class="w3-button w3-yellow">Данные о моём рабочем времени</a>
                </div>

                <div class="w3-container w3-margin-top w3-margin-bottom">
                    <a href="/employees/settlementsheets" class="w3-button w3-light-green">Расчетныe листы</a>
                </div>
            </div>


        </div>
    </div>
</div>
</body>
</html>